<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
</head>
<body>
    <h1>Edit profile for {{ profile.firstname }} {{ profile.lastname }}</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <p>{{ form.firstname.label_tag }}<br>{{ form.firstname }}{{ form.firstname.errors }}</p>
        <p>{{ form.lastname.label_tag }}<br>{{ form.lastname }}{{ form.lastname.errors }}</p>
        <p>{{ form.age.label_tag }}<br>{{ form.age }}{{ form.age.errors }}</p>
        <p>{{ form.gender.label_tag }}<br>{{ form.gender }}{{ form.gender.errors }}</p>
        <p>{{ form.address.label_tag }}<br>{{ form.address }}{{ form.address.errors }}</p>
        <p>{{ form.profile_picture.label_tag }}<br>{{ form.profile_picture }}{{ form.profile_picture.errors }}</p>
        <button type="submit">Save changes</button>
        <a href="{% url 'view_profile' profile.pk %}">Cancel</a>
    </form>
</body>
</html>